<!-- Modicom.Raz/Areas/Admin/Pages/Shared/Components/VisitorCounter/Default.cshtml -->
@model int
<div class="visitor-counter">
    <i class="bi bi-people"></i>
    <span>Visitors: @Model</span>
</div>